<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="username">Tên đăng nhập</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                    type="text"
                    name="username"
                    id="username"
                    value="<%= oldInput.username %>">
            </div>
            <div class="form-control">
                <label for="password">Mật khẩu</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Xác nhận mật khẩu</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    value="<%= oldInput.confirmPassword %>">
            </div>
           
            <button class="btn" type="submit">Đăng ký</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>