<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid">
            <% for (let staff of staffs) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= staff.name %></h1>
                </header>
                <hr>
                <div class='card__image c-avatar'>
                    <img class='c-avatar__image' src='/<%= staff.imageUrl %>' alt='<%= staff.name %>'>
                    <span class='c-avatar__status <% if(staff.status == "Đang làm việc") { %>online<% } else { %>offline<% } %>'></span>
                </div>
                <div class="card__status clearfix">
                    <input type="text" name="status" id="status" readonly>
                </div>

                <div class="card__content clearfix">
                    <label for="companyId">Mã nhân viên</label>
                    <input type="text" name="companyId" id="companyId" value="<%= staff.companyId %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="doB">Ngày sinh</label>
                    <input type="date" name="doB" id="doB" value="<%= moment(staff.doB).utc().format('YYYY-MM-DD') %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="department">Khoa phòng</label>
                    <input type="text" name="department" id="department" value="<%= staff.department %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="annualLeave">Số ngày phép của năm</label>
                    <input type="number" name="annualLeave" id="annualLeave" value="<%= staff.annualLeave %>" readonly>
                </div>
                <div class="card__content clearfix">
                    <label for="salaryScale">Hệ số lương</label>
                    <input type="number" name="salaryScale" id="salaryScale" value="<%= staff.salaryScale %>" readonly>
                </div>
                <div class="card__actions">
                    <a href="/workinghours/details/<%= staff.companyId %>?page=1&sort=ngày&numberOfRow=10" class="btn">Tra cứu giờ làm</a>
                </div>
            </article> 
            
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>